#loans {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#loans td, #loans th {
  border: 1px solid #ddd;
  padding: 8px;
}

#loans tr:nth-child(even){background-color: #f2f2f2;}

#loans tr:hover {background-color: #ddd;}

#loans th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}