<!--<div class="container">
  
 
  


  <table id="loans">
  <tr>
    <th>FirstName</th>
          <th>LastName</th>
          <th>LoanNumber</th>
          <th>LoanAmount</th>
          <th>LoanType</th>
  </tr>
  <tbody>
     
        <td>{{ loanDetail.FirstName }}</td>
        <td>{{ loanDetail.LastName }}</td>
         <td>{{ loanDetail.LoanNumber }}</td>
          <td>{{ loanDetail.LoanAmount }}</td>
           <td>{{ loanDetail.LoanType }}</td>
           
                     
     
    </tbody>
  
</table>
</div>-->